h1 {
  text-align: center;
}

div#form .input {
  width: 45%;
  float: left;
  margin: 0.3em;
}

div#form, div#form div {
  overflow: auto;
}

div#form {
  padding-bottom: 1cm;
  margin-bottom: 1cm;
  border-bottom: thin solid;
}

@media print {
  div#form {
    display: none;
  }
}
