h1 {
  text-align: center;
}

div#form .input {
  width: 45%;
  float: left;
  margin: 0.3em;
}

div#form, div#form div {
  overflow: auto;
}

div#form {
  padding-bottom: 0.5cm;
  margin-bottom: 0.5cm;
  border-bottom: thin solid;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: thin solid;
}

div#buttons {
  background: white;
  padding-bottom: 3px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

output.computed {
  display: none;
}

/* validation errors */
input:invalid {
  border-color: #DD2C00;
}

.pseudobutton {
  font-family: sans-serif, helvetica;
  font-size: 0.7em;
  border-radius: 5px;
  border: thin outset lightgrey;
  padding: 1px 1em 2px 1em;
}

/* Hide form when printing */
@media print {
  div#form, div#buttons {
    display: none;
  }
}
